# management-service
DATABASE_URL=postgresql://postgres:postgres@postgres-gestao:5432/gestao_development
RAILS_ENV=development

# routing-service
DATABASE_URL=postgresql://postgres:postgres@postgres-routing:5432/routing_development
MANAGEMENT_SERVICE_URL=http://management-service:3001
PORT=4000

# frontend (Vite)
VITE_MS_GESTAO_URL=http://localhost:3001
VITE_MS_ROTEIRIZACAO_URL=http://localhost:4000
